{"openapi":"3.0.3","info":{"title":"aquatrader","version":"1.0.0"},"servers":[{"url":"https://api.urlx.bz","description":"Production server"},{"url":"http://localhost:8080","description":"Development server"}],"paths":{"/api/core/login":{"post":{"summary":"HTTP POST","description":"@login\n@sensitive\n@anonymous","tags":["core"],"operationId":"core_login_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"scheme":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"}},"required":["scheme","username","password"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"scheme":{"type":"string"},"userId":{"type":"integer","format":"int64"},"organisationId":{"type":"integer","format":"int64"},"username":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"email":{"type":"string"},"passwordHash":{"type":"string"}}}}}}}}}},"/api/core/register-user":{"post":{"summary":"HTTP POST","description":"@param _password_hash is hash of _password\n@sensitive\n@anonymous","tags":["core"],"operationId":"core_register_user_post","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string"},"fullName":{"type":"string"},"billingAddress":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"},"passwordHash":{"type":"string"},"phoneNumber":{"type":"string"}},"required":["username","fullName","billingAddress","email","password","passwordHash","phoneNumber"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"}}}}}}}}}},"/api/core/user-profile":{"get":{"summary":"HTTP GET","description":"@sensitive\n@authenticated","tags":["core"],"operationId":"core_user_profile_get","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"organisationId":{"type":"integer","format":"int64"},"billingName":{"type":"string"},"billingEmail":{"type":"string"},"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"email":{"type":"string"}}}}}}}},"security":[{"bearerAuth":[]},{"cookieAuth":[]}]}},"/api/currencies":{"get":{"summary":"HTTP GET /api/currencies","description":"@anonymous","tags":["market"],"operationId":"market_get_currencies_get","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimalPlaces":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/currencies/{id}":{"get":{"summary":"HTTP GET /api/currencies/{id}","description":"@anonymous","tags":["market"],"operationId":"market_get_currency_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"decimalPlaces":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/exchanges/{id}":{"get":{"summary":"HTTP GET /api/exchanges/{id}","description":"@anonymous","tags":["market"],"operationId":"market_get_exchange_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"shortName":{"type":"string"},"mic":{"type":"string"},"operatingMic":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string"},"website":{"type":"string"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/exchanges":{"get":{"summary":"HTTP GET /api/exchanges","description":"@anonymous","tags":["market"],"operationId":"market_get_exchanges_get","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"shortName":{"type":"string"},"mic":{"type":"string"},"operatingMic":{"type":"string"},"countryCode":{"type":"string"},"timezone":{"type":"string"},"website":{"type":"string"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/instruments/{id}":{"get":{"summary":"HTTP GET /api/instruments/{id}","description":"@anonymous","tags":["market"],"operationId":"market_get_instrument_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"isin":{"type":"string"},"name":{"type":"string"},"instrumentType":{"type":"string"},"countryOfOrigin":{"type":"string"},"sector":{"type":"string"},"industry":{"type":"string"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/instruments/page/{page}/pagesize/{page_size}":{"get":{"summary":"HTTP GET /api/instruments/page/{page}/pagesize/{page_size}","description":"@anonymous","tags":["market"],"operationId":"market_get_instruments_get","parameters":[{"name":"page","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"isin":{"type":"string"},"name":{"type":"string"},"instrumentType":{"type":"string"},"countryOfOrigin":{"type":"string"},"sector":{"type":"string"},"industry":{"type":"string"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/listings/{id}":{"get":{"summary":"HTTP GET /api/listings/{id}","description":"@anonymous","tags":["market"],"operationId":"market_get_listing_get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"instrumentId":{"type":"integer","format":"int64"},"instrumentName":{"type":"string"},"isin":{"type":"string"},"exchangeId":{"type":"integer","format":"int32"},"exchangeName":{"type":"string"},"mic":{"type":"string"},"currencyId":{"type":"integer","format":"int32"},"currencyCode":{"type":"string"},"symbol":{"type":"string"},"localSymbol":{"type":"string"},"listingType":{"type":"string"},"firstTradeDate":{"type":"string","format":"date"},"lastTradeDate":{"type":"string","format":"date"},"isPrimary":{"type":"boolean"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/listings/overview/{listingid}":{"get":{"summary":"HTTP GET /api/listings/overview/{listingId}","description":"@anonymous","tags":["market"],"operationId":"market_get_listing_overview_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"listingId":{"type":"integer","format":"int64"},"instrumentId":{"type":"integer","format":"int64"},"instrumentName":{"type":"string"},"isin":{"type":"string"},"instrumentType":{"type":"string"},"symbol":{"type":"string"},"exchangeId":{"type":"integer","format":"int32"},"exchangeName":{"type":"string"},"mic":{"type":"string"},"currencyId":{"type":"integer","format":"int32"},"currencyCode":{"type":"string"},"currencySymbol":{"type":"string"},"countryCode":{"type":"string"},"sector":{"type":"string"},"industry":{"type":"string"},"firstTradeDate":{"type":"string","format":"date"},"lastTradeDate":{"type":"string","format":"date"},"isPrimary":{"type":"boolean"}}}}}}}}}},"/api/listings":{"get":{"summary":"HTTP GET /api/listings","description":"@anonymous","tags":["market"],"operationId":"market_get_listings_get","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"instrumentId":{"type":"integer","format":"int64"},"instrumentName":{"type":"string"},"isin":{"type":"string"},"exchangeId":{"type":"integer","format":"int32"},"exchangeName":{"type":"string"},"mic":{"type":"string"},"currencyId":{"type":"integer","format":"int32"},"currencyCode":{"type":"string"},"symbol":{"type":"string"},"localSymbol":{"type":"string"},"listingType":{"type":"string"},"firstTradeDate":{"type":"string","format":"date"},"lastTradeDate":{"type":"string","format":"date"},"isPrimary":{"type":"boolean"},"isActive":{"type":"boolean"}}}}}}}}}},"/api/exchanges/trading-sessions/{exchange_id}/{from_date}/{to_date}":{"get":{"summary":"HTTP GET /api/exchanges/trading-sessions/{exchange_id}/{from_date}/{to_date}","description":"@anonymous","tags":["market"],"operationId":"market_get_trading_sessions_get","parameters":[{"name":"exchange_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"from_date","in":"path","required":true,"schema":{"type":"string"}},{"name":"to_date","in":"path","required":true,"schema":{"type":"string"}},{"name":"exchangeId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"fromDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"sessionDate":{"type":"string","format":"date"},"openTime":{"type":"string","format":"date-time"},"closeTime":{"type":"string","format":"date-time"},"isTradingDay":{"type":"boolean"}}}}}}}}}},"/api/instruments/search/query/{query}/pagesize/{pagesize}":{"get":{"summary":"HTTP GET /api/instruments/search/query/{query}/pagesize/{pageSize}","description":"@anonymous","tags":["market"],"operationId":"market_search_instruments_get","parameters":[{"name":"query","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"isin":{"type":"string"},"name":{"type":"string"},"instrumentType":{"type":"string"}}}}}}}}}},"/api/listings/search/query/{query}/pagesize/{pagesize}":{"get":{"summary":"HTTP GET /api/listings/search/query/{query}/pagesize/{pageSize}","description":"@anonymous","tags":["market"],"operationId":"market_search_listings_get","parameters":[{"name":"query","in":"path","required":true,"schema":{"type":"string"}},{"name":"pageSize","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"listingId":{"type":"integer","format":"int64"},"instrumentId":{"type":"integer","format":"int64"},"instrumentName":{"type":"string"},"isin":{"type":"string"},"symbol":{"type":"string"},"exchangeId":{"type":"integer","format":"int32"},"exchangeName":{"type":"string"},"mic":{"type":"string"},"currencyCode":{"type":"string"},"isPrimary":{"type":"boolean"}}}}}}}}}},"/api/prices/eod/{listingid}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/prices/eod/{listingId}/{fromDate}/{toDate}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_eod_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"adjustedClose":{"type":"number"},"volume":{"type":"number"},"tradeCount":{"type":"integer","format":"int64"}}}}}}}}}},"/api/prices/fx/eod/{basecurrency}/{quotecurrency}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/prices/fx/eod/{baseCurrency}/{quoteCurrency}/{fromDate}/{toDate}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_fx_eod_get","parameters":[{"name":"baseCurrency","in":"path","required":true,"schema":{"type":"string"}},{"name":"quoteCurrency","in":"path","required":true,"schema":{"type":"string"}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"baseCurrency":{"type":"string"},"quoteCurrency":{"type":"string"},"rate":{"type":"number"}}}}}}}}}},"/api/prices/intraday/{listingid}/{fromtime}/{totime}":{"get":{"summary":"HTTP GET /api/prices/intraday/{listingId}/{fromTime}/{toTime}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_intraday_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fromTime","in":"path","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"toTime","in":"path","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceTime":{"type":"string","format":"date-time"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"volume":{"type":"number"},"tradeCount":{"type":"integer","format":"int64"}}}}}}}}}},"/api/prices/eod/latest/{listingid}":{"get":{"summary":"HTTP GET /api/prices/eod/latest/{listingId}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_latest_eod_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"listingId":{"type":"integer","format":"int64"},"priceDate":{"type":"string","format":"date"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"adjustedClose":{"type":"number"},"volume":{"type":"number"},"tradeCount":{"type":"integer","format":"int64"}}}}}}}}}},"/api/prices/eod/latest/{listingid}/limit/{limit}":{"get":{"summary":"HTTP GET /api/prices/eod/latest/{listingId}/limit/{limit}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_latest_eod_prices_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"adjustedClose":{"type":"number"},"volume":{"type":"number"}}}}}}}}}},"/api/prices/fx/latest/{basecurrency}/{quotecurrency}":{"get":{"summary":"HTTP GET /api/prices/fx/latest/{baseCurrency}/{quoteCurrency}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_latest_fx_get","parameters":[{"name":"baseCurrency","in":"path","required":true,"schema":{"type":"string"}},{"name":"quoteCurrency","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"baseCurrency":{"type":"string"},"quoteCurrency":{"type":"string"},"rate":{"type":"number"}}}}}}}}}},"/api/prices/intraday/latest/{listingid}":{"get":{"summary":"HTTP GET /api/prices/intraday/latest/{listingId}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_latest_intraday_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceTime":{"type":"string","format":"date-time"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"volume":{"type":"number"},"tradeCount":{"type":"integer","format":"int64"}}}}}}}}}},"/api/prices/market-snapshot/listing_ids/{listing_ids}":{"get":{"summary":"HTTP GET /api/prices/market-snapshot/listing_ids/{listing_ids}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_latest_market_snapshot_get","parameters":[{"name":"listing_ids","in":"path","required":true,"schema":{"type":"string"}},{"name":"listingIds","in":"query","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"listingId":{"type":"integer","format":"int64"},"priceDate":{"type":"string","format":"date"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"adjustedClose":{"type":"number"},"volume":{"type":"number"}}}}}}}}}},"/api/prices/detaileod/{listingid}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/prices/detaileod/{listingId}/{fromDate}/{toDate}","description":"@anonymous","tags":["prices"],"operationId":"prices_get_listing_eod_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"listingId":{"type":"integer","format":"int64"},"symbol":{"type":"string"},"instrumentName":{"type":"string"},"exchangeName":{"type":"string"},"currencyCode":{"type":"string"},"priceDate":{"type":"string","format":"date"},"open":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"close":{"type":"number"},"adjustedClose":{"type":"number"},"volume":{"type":"number"}}}}}}}}}},"/api/technical/indicatorconfigurations/{indicatorid}":{"get":{"summary":"HTTP GET /api/technical/indicatorconfigurations/{indicatorId}","description":"@anonymous","tags":["technical"],"operationId":"technical_get_indicator_configurations_get","parameters":[{"name":"indicatorId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"indicatorConfigurationId":{"type":"integer","format":"int64"},"indicatorId":{"type":"integer","format":"int32"},"indicatorCode":{"type":"string"},"indicatorName":{"type":"string"},"parameters":{"type":"object"}}}}}}}}}},"/api/technical/indicatoreod/{listingid}/{indicatorconfigurationid}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/technical/indicatoreod/{listingId}/{indicatorConfigurationId}/{fromDate}/{toDate}","description":"@anonymous","tags":["technical"],"operationId":"technical_get_indicator_eod_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"indicatorConfigurationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"value1":{"type":"number","format":"double"},"value2":{"type":"number","format":"double"},"value3":{"type":"number","format":"double"},"value4":{"type":"number","format":"double"}}}}}}}}}},"/api/technical/indicatoreodseries/{listingid}/{indicatorconfigurationid}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/technical/indicatoreodseries/{listingId}/{indicatorConfigurationId}/{fromDate}/{toDate}","description":"@anonymous","tags":["technical"],"operationId":"technical_get_indicator_eod_series_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"indicatorConfigurationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"indicatorConfigurationId":{"type":"integer","format":"int64"},"indicatorCode":{"type":"string"},"indicatorName":{"type":"string"},"parameters":{"type":"object"},"value1":{"type":"number","format":"double"},"value2":{"type":"number","format":"double"},"value3":{"type":"number","format":"double"},"value4":{"type":"number","format":"double"}}}}}}}}}},"/api/technical/indicators":{"get":{"summary":"HTTP GET /api/technical/indicators","description":"@anonymous","tags":["technical"],"operationId":"technical_get_indicators_get","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"indicatorId":{"type":"integer","format":"int32"},"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"outputCount":{"type":"integer","format":"int32"}}}}}}}}}},"/api/technical/indicatorseodseries/{listingid}/{indicatorconfigurationids}/{fromdate}/{todate}":{"get":{"summary":"HTTP GET /api/technical/indicatorseodseries/{listingId}/{indicatorConfigurationIds}/{fromDate}/{toDate}","description":"@anonymous","tags":["technical"],"operationId":"technical_get_indicators_eod_series_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"indicatorConfigurationIds","in":"path","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"fromDate","in":"path","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"path","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"indicatorConfigurationId":{"type":"integer","format":"int64"},"indicatorCode":{"type":"string"},"indicatorName":{"type":"string"},"parameters":{"type":"object"},"value1":{"type":"number","format":"double"},"value2":{"type":"number","format":"double"},"value3":{"type":"number","format":"double"},"value4":{"type":"number","format":"double"}}}}}}}}}},"/api/technical/latestindicatorvalues/{listingid}/{indicatorconfigurationids}":{"get":{"summary":"HTTP GET /api/technical/latestindicatorvalues/{listingId}/{indicatorConfigurationIds}","description":"@anonymous","tags":["technical"],"operationId":"technical_get_latest_indicator_values_get","parameters":[{"name":"listingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"indicatorConfigurationIds","in":"path","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"priceDate":{"type":"string","format":"date"},"indicatorConfigurationId":{"type":"integer","format":"int64"},"indicatorCode":{"type":"string"},"indicatorName":{"type":"string"},"parameters":{"type":"object"},"value1":{"type":"number","format":"double"},"value2":{"type":"number","format":"double"},"value3":{"type":"number","format":"double"},"value4":{"type":"number","format":"double"}}}}}}}}}}},"components":{"schemas":{},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT Bearer token authentication"},"cookieAuth":{"type":"apiKey","name":".AspNetCore.Cookies","in":"cookie","description":"Cookie-based authentication"}}}}